# Project environment files.
.DS_Store
.idea
.vscode

# Compiled class file.
*.class

# IDEA project file.
*.iml

# Log file.
*.log

# Virtual machine crash logs.
hs_err_pid*

# BFT-Smart output files.
config/currentView